* {
    margin: 0;
}

.app_headerImage {
    object-fit: contain;
    background-color: #fafafa;
}

.app {
    background-color: white;
    height: 100%;
}

.app_header {
    background-color: white;
    padding: 20px;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
}

.app_posts {
    padding: 20px;
}